function generateTicket() {
    document.getElementById("tEvent").innerText =
        document.getElementById("eventName").value;

    document.getElementById("tDate").innerText =
        document.getElementById("date").value;

    document.getElementById("tTime").innerText =
        document.getElementById("time").value;

    document.getElementById("tVenue").innerText =
        document.getElementById("venue").value;

    document.getElementById("tHost").innerText =
        document.getElementById("host").value;
}

function downloadPDF() {
    const ticket = document.getElementById("ticket");
    html2pdf().from(ticket).save("Invitation_Ticket.pdf");
}
