body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.ticket {
    background: white;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 2px dashed #333;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.logo {
    width: 50px;
    height: auto;
}
.ticket-image {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    margin-bottom: 10px;
    display: none;
}
